/*
 Theme Name:   Storefront Child
 Theme URI:    
 Description:  Storefront Child Theme
 Author:       Kim Nyegaard Andreasen
 Author URI:   
 Template:     storefront
 Version:      1.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         
 Text Domain:  storefront-child
*/

@media only screen and (max-width: 767px)  
{ 
  .custom-logo-link img
  {
    max-width: 150px !important;
  }

  .main-navigation ul li a 
  {
    padding: 0.8em 0em 0em 0em !important;
  }

  .toggled button.menu-toggle::after 
  {
    -webkit-transform: unset !important;
    -ms-transform: unset !important;
    transform: unset !important;
  }

  .toggled button.menu-toggle::after, .toggled button.menu-toggle::before 
  {
    -webkit-transform: unset !important;
    -ms-transform: unset !important;
    transform: unset !important;
  }
  
  .storefront-handheld-footer-bar ul li.cart .count, button.menu-toggle:after, button.menu-toggle:before, button.menu-toggle span:before 
  {
    background-color: unset !important;
  }
  
  button.menu-toggle::after 
  {
    -webkit-transform: unset !important;
    -ms-transform: unset !important;
    transform: unset !important;
  }
  
  button.menu-toggle span::before, button.menu-toggle::after, button.menu-toggle::before 
  {
    content: unset !important;
    display: unset !important;
    height: unset !important;
    width: unset !important;
    position: unset !important;
    top: unset !important;
    left: unset !important;
    margin-top: unset !important;
    -webkit-transition: unset !important;
    transition: unset !important;
    border-radius: unset !important;
  }

  .menu-toggle span
  {
    float: right !important;
    vertical-align: baseline !important;
    margin: 0px 20% 0px 0px;
  } 

  button.menu-toggle
  {
    font-size: 4vw !important;
    font-weight: unset !important;
  }

  .menu-toggle
  {
    margin: 0px !important;
  }

  .storefront-primary-navigation
  {
    margin: 1.618em 0em 0em 0em;
    font-size: 4vw; 
  }

  .storefront-primary-navigation 
  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .woocommerce-active .site-header .main-navigation 
  {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #large-image 
  {
    display: none;
  }

  .container 
  {
    position: relative;
  }

  .banner-text 
  {
    position: absolute;
    top: 20%;
    left: 15%;
    max-width: 80%;
  }

  .banner-text h1
  {
    font-size: 8vw !important;
  }

  .banner-text h2
  {
    font-size: 4vw !important;
  }

  .banner-button a 
  {
    font-size: 3vw !important;
  }

  .site-branding img
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .site-branding 
  {
    float: none !important;
  }

  .main-navigation button
  {
    padding: 0px 0px 0px 0px !important;
  }

  .menu-toggle
  {
    border: none !important;
    background-color: inherit !important;
    width: 100%; 
    margin: 10px 10px 10px 10px; 
  }

  .menu-toggle span
  {
    /*float: right !important;*/
    /*padding: 0px 0px 0px 40px !important;*/
  }

  .button.menu-toggle
  {
    left: 0.5em !important;
  }

  .shopping-cart-checker
  {
    font-size: 5vw !important;
    padding: 50px 20% 50px 20% !important;
  }

  .front-page-content-banner
  {
    font-size: 4vw !important;   
  }

  .facebook-like-banner p
  {
    font-size: 5vw !important;
  }

  .custom-search-input
  {
    width: 45vw;
    height: 7vw;
    font-size: 3vw;
  }

  #searchsubmit
  {
    width: 20vw;
    height: 7vw;
    font-size: 3.5vw;
  }
}

@media only screen and (min-width: 768px)  
{ 
  #small-image 
  {
    display: none;
  }

  .container 
  {
    position: relative;
  }

  .banner-text 
  {
    position: absolute;
    top: 20%;
    left: 24%;
    max-width: 60%;
  }

  #large-image img
  {
    width: 100% !important;
  }

  .custom-search-input
  {
    width: 40vw;
    height: 3vw;
    font-size: 1.5vw;
  }

  #searchsubmit
  {
    width: 7vw;
    height: 3vw;
    font-size: 1.5vw;
  }
}

.banner-text h1
{
  font-size: 3vw;
  margin-bottom: 0.1em !important; 
  color: white;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.banner-text h2
{
  font-size: 2vw;
  color: white;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.banner-button a 
{
  font-size: 1vw;
  box-shadow: 0 5px 0 #7887aa;
  color: white;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.banner-button a:active 
{
  box-shadow: none;
  top: 5px;
}

.header-widget-region
{
	background-color: #AA8439;
}

.header-widget-region p
{
	color: #ffffff;
	margin: 0px 0px 0px 0px;
}

.site-info
{
	display: none;
}

.search-field
{
    border-radius: 4px;
}

.site-header
{
	background-color: #0a2c3c;
}

.site-footer
{
	background-color: #0a2c3c;
	padding: 1.618em 0 3.706325903em 1em 1em;
}

.storefront-handheld-footer-bar a
{
	background-color: #0a2c3c !important;
}

.widget_product_search button
{
	visibility: hidden;
}

.post-header-date-published
{
	padding: 0em 2em 0em 0em;
}

.post-header-category
{
	padding: 0em 2em 0em 2em;
}

.post-header-meta
{
	padding: 0em 0em 2em 0em; 
}

/* unvisited link */
.post-content a:link
{
	font-weight: bold !important;
}

.post-content
{
	margin: 0 auto;
    width: 80%; 
}

.post-navigation
{
	display: none;
}

.storefront-product-pagination
{
	display: none;	
}

.post-item img
{
    border-radius: 4px;
}

.post-item
{
	margin-right: 2.9% !important;
}

.post-title 
{
	font-size: 2em !important;
}

.post-category a
{
  text-decoration: none;
    color: #797979;
    text-transform: uppercase;
    border: 0;
}

.wordpress_wrapper
{
  text-align: center;
}

#wordpress_loadmore
{
  color: #fff;
  background-color: #7887AA;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 2px;
  display: block;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;  
}

#wordpress_loadmore:hover
{
  color: #fff;
  background-color: #1F3363;
}

.storefront-primary-navigation
{
  text-transform: uppercase !important;
}

.storefront-primary-navigation button
{
  text-transform: uppercase !important;
}

.shopping-cart-checker
{
  background-color: #FFA500;
  min-height: 50px;
  font-size: 2vw;
  color: #000000; 
  text-align: center;
  padding: 50px 20% 50px 20%;
}

.shopping-cart-checker p
{
  margin: 0;
}

.free-delivery-label
{
  font-weight: 600;
}

.front-page-content-banner
{
  background-color: #7887aa;
  min-height: 200px;
  font-size: 2vw;
  color: #0a2c3c;
  text-align: center !important;
  
}

.front-page-content-banner p
{
  margin: 0;
  padding: 10% 20%;
}

.facebook-like-banner
{
  background-color: #7887aa;
  min-height: 50px;
  font-size: 2vw;
  color: #ffffff; 
  text-align: center;
  padding: 50px 5% 50px 5%;
}

.facebook-like-banner p
{
  margin-bottom: 10px;
}

#articles
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.widget_shopping_cart
{
  background-color: #0a2c3c !important;
}

.widget_shopping_cart p
{
  background-color: #0a2c3c !important;
}

#customer_details
{
  width: 100% !important;
  float: none !important;
  margin-right: none !important;
}

#order_review_heading, #order_review
{
  width: 100% !important;
  float: none !important;
}

.place-order
{
  padding: 1.41575em 0em 1.41575em 0em !important; 
}

.woocommerce-info
{
  background-color: #0a2c3c !important;
}

#pakkelabels_find_shop_btn
{
  background-color: #0a2c3c !important;  
}

#place_order
{
  background-color: #0a2c3c !important;   
}

.cart_totals
{
  width: 100% !important;
  float: none !important;
}

.cart_totals a
{
  background-color: #0a2c3c !important;
}

.actions button
{
  background-color: #0a2c3c !important;  
}

.woocommerce-cart-form__cart-item button
{
  background-color: #0a2c3c !important; 
}

.widget_nav_menu ul li::before 
{
    content: none !important;
}

.footer-widgets ul li
{
  padding-left: 0px;
}

.gamma
{
  margin-bottom: 0px !important;
}

.storefront-sorting p
{
  display: none !important;
}

.woocommerce-mini-cart-item
{
  padding-left: 2em !important;
}

.custom-search-field form
{
  margin-bottom: 0;
  padding: 0 2.617924em;
}

.custom-search-field
{
  background-color: #7887AA !important;
  min-height: 30px;
  font-size: 1vw;
  color: #0a2c3c !important;
  text-align: center;
  padding: 50px 5% 50px 5%;
}

.custom-search-input
{
  background-color: #FFFFFF;
  box-shadow: none !important;
}

#searchsubmit
{
  background-color: #0A2C3C;
  padding: 0px !important;
}

.home #content
{
  display: none;
}

#cookie-law-info-again
{
  left: -40px !important;
  top: 400px !important;
  right: unset !important;
  bottom: unset !important;
  transform: rotate(90deg) !important;
  box-shadow: none !important; 
}